@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  color: #ffffff;
  background: linear-gradient(135deg, #e6e6fa, #dda0dd, #e0b0ff);

}
.button{
  @apply font-bold text-2xl  p-3
  rounded-xl transform transition duration-200 hover:bg-amber-300 hover:translate-y-0.5 border-2 ;
  background:#3f185b;
  /* #191970 */
}
.card {
  @apply  flex;
}

.card-front {
  @apply relative border-3 size-28  m-1 p-3 rounded-xl ;
  background-color: #3f185b;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;

}

.card-back {
  @apply absolute size-28 m-1 rounded-xl border-3 ;
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;

}

.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;

}

