@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  min-height: 100vh;
  color: #ffffff;
  background: linear-gradient(120deg, #e6e6fa, #e0b0ff,#dda0dd);

}
.button{
  @apply font-bold text-2xl  p-3 w-40
  rounded-xl transform transition duration-200 hover:bg-amber-300 hover:translate-y-0.5 border-2 ;
  background:#3f185b;

}
.card {
  @apply  flex;
}

.card-front {
  @apply relative border-3 m-1 p-1 sm:p-1 lg:p-2 rounded-xl w-16 h-16 sm:w-16 sm:h-16 md:w-20 md:h-20 lg:w-24 lg:h-24;
  background-color: #3f185b;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;

}

.card-back {
  @apply absolute m-1 rounded-xl border-3  w-18 h-18 sm:w-18 sm:h-18 md:w-20 md:h-20 lg:w-24 lg:h-24;
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;

}

.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;

}
.time{
  @apply m-4 font-bold text-2xl text-gray-700 bg-white h-[40px] p-1 rounded-3xl w-[200px]  flex flex-row
}

